*.opensdf
*.sdf
*.suo
*.user
*.log
Debug
xkill/Debug/
xkill/Release/
xkill-architecture/Debug/
xkill-architecture/Release/
xkill-sound/Debug/
xkill-sound/Release/
xkill-renderer/Debug/
xkill-renderer/Release/
xkill-physics/Debug/
xkill-physics/Release/
xkill-utilities/Debug/
xkill-utilities/Release/
xkill-gui/GeneratedFiles/
xkill-gui/Debug/
xkill-gui/Release/
xkill-gui/Win32/
xkill-gui/Debug/
xkill-gui/Release/
xkill-dependencies/xkill/lib-Debug/
xkill-dependencies/xkill/lib-Release/
xkill-input/Debug/
xkill-input/Release/